/* CSS for the Immocalc appplication */
/* Pierre Haessig - November 2014 */


/* Remove the spinner in Firefox number inputs */
input[type=number] {
    -moz-appearance:textfield;
}

h3.ui-bar {
    font-size: 1em;
}

#main-page footer {
    text-align: center;
    color: #999;
}


.details {
    font-size: smaller;
    font-style: italic;
}

/*Detailed costs panel*/



table#table-costs {
    width: 100%;
    border-spacing: 0em .5em;
}



#table-costs tr.total {
    font-weight: bold;
}

#table-costs .currency {
   text-align: right;
}
